<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>
<body>
    <h3>Agent Dashboard</h3>
    <a href="/search">Add Property</a>
    <%# <a href="/agent/properties">View Properties</a> %>
    <div class="properties">
        <%if @properties%>
            <%@properties.each do |property| %>
                <div>
                    <a href="/property?id=<%=property["id"]%>"><img src="<%=property["photos"].first["fullUrl"]%>" alt=""></a>
                </div>
            <%end%>
        <%end%>
    </div>
</body>
</html>