<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Agent Dashboard</h1>
    <form action="/serch_property" method="get">
        <p>Search Property</p>
        <input type="text" name="query"></p>
    </form>

    results:
    <p><%=@properties%></p>
</body>
</html>