<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>
<body>
    <form action="/create_account" method="post">
        <p>Create Account</p>
        <p><label for="">Account Type:</label>
        <input type="text" name="account_type" value="<%=@user.account_type%>"></p>
        <p><label for="">EMAIL:</label>
        <input type="text" name="email" value="<%=@user.email%>"></p>
        <p><label for="">PASSWORD:</label>
        <input type="password" name="password"></p>
        <p><label for="">VERIFY PASSWORD:</label>
        <input type="password" name="password_verify"></p>
        <button>Create Account</button>
    </form>

    <p><%=@login_status%></p>
</body>
</html>