<form action="/session" method="post">
    <p>Existing User Login:</p>
    <p><label for="">EMAIL:</label>
    <input type="text" name="email"></p>
    <p><label for="">PASSWORD:</label>
    <input type="password" name="password"></p>
    <button>Login</button>
</form>

OR:

<form action="/login" method="post">
    <p>Create New User:</p>
    <p><label for="">TYPE:</label>
    <input type="text" name="account_type" value="<%=@user.account_type%>"></p>
    <p><label for="">EMAIL:</label>
    <input type="text" name="email" value="<%=@user.email%>"></p>
    <button>Create</button>
</form>

<p><%=@login_status%></p>