<form action="/session" method="post">
    <p>Existing User Login:</p>
    <p><label for="">EMAIL:</label>
    <input type="text" name="email"></p>
    <p><label for="">PASSWORD:</label>
    <input type="password" name="password"></p>
    <button>Login</button>
</form>

OR:

<form action="/session" method="post">
    <p>Create New User:</p>
    <button>Login</button>
</form>